<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Moringa"
        tools:targetApi="31">
        <activity
            android:name=".Webviews.SlackWebview"
            android:exported="false" />
        <activity
            android:name=".Common.Quote"
            android:exported="false" />
        <activity
            android:name=".Webviews.WellnessWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.SiteWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.BlogWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.GithubWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.CanvasWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.PortalWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.GmailWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.NotesWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.TasksWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.RemindersWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.CalendarWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.MeetsWebview"
            android:exported="false" />
        <activity
            android:name=".Webviews.SheetsWebview"
            android:exported="false" />
        <activity
            android:name=".Common.Login"
            android:exported="false" />
        <activity
            android:name=".Common.Notepad"
            android:exported="false" />
        <activity
            android:name=".Common.Communication"
            android:exported="false" />
        <activity
            android:name=".Common.Wellness"
            android:exported="false" />
        <activity
            android:name=".Common.CodeScanner"
            android:exported="false" />
        <activity
            android:name=".Common.Dashboard"
            android:exported="false" />
        <activity
            android:name=".Common.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>